/* Global */
.bg-green{
  background-color: #21a65f;
}

.bg-black{
  background-color: #2f2c2c;
}

.color-green{
  color: #21a65f !important;
}

/* Navbar */
.nav-link.color-green{
  color: #21a65f !important;
}

.dropdown-menu{
  background-color: #2f2c2c !important;
  margin-left: -20px !important;
  margin-top: 7px !important;
  border-radius: 0 !important;
}

.logo-navbar{
  width: 50px;
}

/* Accueil */
.video-title{
  font-weight: bold;
  font-size: large;
}